/* General styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
  font-family: 'Arial', sans-serif;
}

/* Calculator container styles */
.calculator-container {
  border: 4px solid #ccc;
  border-radius: 5px;
  background-color: orange;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Display styles */
#display {
  font-size: 2em;
  padding: 20px;
  text-align: right;
  background-color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  
}





/* Button panel styles */
.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-items: center;
  grid-column-gap: 0;
}

/* Button styles */
.calc-button {
  width: 70%;
  padding: 5px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calc-button:hover {
  background-color: #f3f3f3;
}

/* Clear button styles */
#clear {
  
  background-color: grey;
}
